@{
    ViewBag.Title = "Acerca de";
}

<div class="titulo">
    <h1>
        <i>@ViewBag.Title</i>
    </h1>
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat vestibulum aliquam. Mauris porta libero id bibendum viverra.
    Aliquam purus enim, rhoncus at nisl sed, viverra dictum tellus. Aliquam sit amet ultricies dolor. Phasellus vitae accumsan ipsum.
    Proin sed urna blandit, elementum quam venenatis, malesuada felis. Nam commodo ex dui, eu gravida sem sagittis non. Suspendisse potenti.
    Nam interdum massa nec risus eleifend, sed egestas lorem ullamcorper. Phasellus placerat nunc vitae convallis tempus. Aliquam erat volutpat.
    Nam pellentesque, mauris quis bibendum iaculis, mi nulla rutrum sem, at feugiat risus eros non nunc. Nam nulla augue, convallis et vulputate sit amet,
    fringilla quis enim. Pellentesque mauris velit, scelerisque in fringilla in, commodo in nulla.
</p>
<p>
    Cras sollicitudin feugiat dignissim. Curabitur cursus a lorem dignissim imperdiet. Phasellus et pulvinar nulla, quis pharetra nunc.
    Fusce eleifend massa lectus, non placerat mi luctus vel. Nulla sed rutrum ante. Aenean mattis accumsan leo, a tincidunt neque semper nec.
    Ut luctus felis quis sodales fringilla. Cras viverra, lacus sed volutpat congue, dui justo ultricies dui, ut egestas enim magna a est.
    Cras blandit mattis odio vulputate sodales. Nullam laoreet libero vehicula dui aliquet blandit. Donec ultrices porttitor est vitae placerat.
</p>
<div>
    <h2>
        Lorem
    </h2>
    <p>
        Nullam rhoncus tempor interdum. Fusce vulputate urna consequat, dapibus nibh id, feugiat quam. Donec mollis orci id pellentesque pretium.
        Phasellus sit amet sapien interdum, gravida orci id, vestibulum nunc. Suspendisse potenti. Sed laoreet diam a pretium sagittis. Duis consequat
        metus nec odio efficitur viverra ac et ex. Maecenas sapien ante, vestibulum at tristique at, scelerisque vitae elit. Aliquam erat volutpat. Morbi
        tincidunt turpis vitae nunc ullamcorper, ac egestas risus elementum. Nulla pharetra sagittis justo, vitae vulputate nunc tristique ut.
    </p>
    <p>
        Sed ornare sem sed imperdiet hendrerit. Aliquam vehicula porta massa sed hendrerit. Phasellus imperdiet orci lacus, nec malesuada est scelerisque in.
        In sem purus, pharetra eu venenatis eu, fringilla non ligula. Aenean malesuada ultricies pharetra. Quisque volutpat ligula nec purus pharetra condimentum.
        Nunc ultricies ipsum purus, vitae laoreet urna ultrices et. Donec interdum risus et erat pellentesque, id consequat diam ultrices. Vestibulum porta nulla
        at leo consequat, at iaculis diam vehicula. Duis dignissim elementum tempus. Nullam accumsan quam leo, eget pulvinar est viverra eget.
        Praesent ac est vel enim lacinia porta. Pellentesque posuere tellus ut diam hendrerit convallis. Curabitur a velit quis lacus faucibus malesuada.
        Nulla consectetur leo quis orci hendrerit congue.
    </p>
</div>
<div>
    <h2>Lorem</h2>
    <p>
        Morbi dignissim metus at elit congue, eget dapibus est tincidunt. Donec consequat, diam a blandit venenatis, magna nunc vestibulum turpis,
        commodo ullamcorper velit nisl eget dui. Vestibulum molestie magna a diam lacinia congue. Nullam nec massa convallis sapien feugiat pulvinar.
        Etiam non justo quis risus egestas facilisis eu vitae odio. Suspendisse vitae fermentum lacus. Vestibulum ante ipsum primis in faucibus orci luctus
        et ultrices posuere cubilia curae; Suspendisse potenti. Fusce eget quam a ipsum facilisis pellentesque in at quam. Sed sed venenatis sem.
        Maecenas suscipit tortor vitae varius blandit. Duis ornare nunc sit amet nisi bibendum, ut scelerisque tellus pretium..
    </p>
</div>

<h2><img class="d-block w-100" src="https://cdn.motor1.com/images/mgl/1x9W7/s3/le-10-lamborghini-piu-rare-e-costose-di-sempre.jpg" /></h2>